.ChartCartCont {
  width: 100%;   
   margin: auto; 
   margin-top: 20px; 
 }

.ChartCart {
    border: none;
  }

  .ChartCartCont h3{
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  color: #494949;
  font-family: 'Courier New', Courier, monospace;
  margin: 20px;
  }
