.artistmainCon {     
  width: 80%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .artistsContents {
  display: flex;
  width: 1080px;
  gap: 20px;
}

.artistConent{
  width: 264px;
  height: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}
.artistsContents img {
  max-width: 264px;
  max-height: 264px;
}

.artitsArtworksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  width: 1080px;
     }

   .artistConent img{
    max-width: 264px;
    max-height: 264px;
    margin: 0.5px;
   }
  
  .artistConent h2{
    font-size: 20px;
  }