.ArtHubContainer {     
    width: 70%;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
  }
  
  .ArtHubContainer h2{
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .ArtHubSection2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 50px;
   }
  
  
  .ArtHubGrid img{
    width: 400px;
    height: 300px;
    cursor: pointer;
  }
  