 .artwork {
   display: flex;
  
 }
 .artwork img{
  width:100%;
  height:300px;
 }
 .artcollectionbox h1{
  color: rgb(73, 73, 73);
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}
.artcollectInfo h2{
  color: #494949;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  font-weight: normal;
  text-align: left;
}

.NameComp {
  display: flex;
 }

 .artcollectInfo b{
  color: #494949;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  }

  .artcollectIcon {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25px;
  }

  .artcollectIcon:hover{
    cursor: pointer;
    background-color: #49494949;
  }
  