.checkoutD{
    width: 100%;
    margin: auto;
    margin-top: 85px;
 }

.shippingCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 

 .shippingCont {
     width: 300px;
 }

 .shipingContSec1 h2{
    font-size: 15px;
    color: #494949;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin-left: 10px;
  }
  .shipingContSec2{
    margin-top: 25px;
  }

  .shippingContInput{
    width: 350px;
    height: 40px;
    margin: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #494949;
    background-color: #f5f5f5;
    font-family: 'Courier New', Courier, monospace;
    border: none;
  }

  .artsection button{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
 }
 
 .artsection button:hover{   
    background-color: #494949;
    color: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
 }