.editorialConatainer{
    width: 100%;
    height: 800px;
     display: flex;
}

.editorialContent img{
    width: 960px;
    height: 800px;
    padding: 10px;
}

.boxCard2 {
    display: flex;
     
}

.boxCard2 img{
    width: 470px;
    height: 400px;
    padding: 10px;
}

